.DS_Store
node_modules

# production code
/dist
/lambda

# local env files
.env.local
.env.*.local
src/helpers/auth0.config.dev.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local dev 
.firebase

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
